@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$green-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@media (prefers-color-scheme: dark) {
  html {
    @include mat.theme((
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$green-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    ));
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.page-content {
  padding: 16px;
}
